<div class="modal-content">
    <div class="modal-header">
        <h4>Transactions</h4>
    </div>

    <div class="modal-body">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td style="width: 100px;" >
                        {% if purchased.trader.logo %}
                            <img alt="Trader logo" src="{{ purchased.trader.logo.url }}" height="20">
                        {% endif %}
                        {{ purchased.trader.name }}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="background: #ffe0b3;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        Purchase
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        {{ purchased.quantity }} units of {{ purchased.ticker.symbol }} at {{ purchased.price }}$
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        fees: {{ purchased.fees }}
                        {% if purchased.ticker.type == 'crypto' %}
                            {{ purchased.ticker.symbol }}
                        {% else %}
                            $
                        {% endif %}
                    <td>
                        change: {{ purchased.change }}$
                    </td>
                    <td>
                        {{ purchased.date }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2" style="text-align: right;">
                        <strong>Total cost: </strong>
                    </td>
                    <td>
                        <strong>{{ purchased.brut }}$</strong>
                    </td>
                </tr>
                <tr style="background: #ffe0b3;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Sell</td>
                </tr>
                <tr>
                    <td colspan="4">
                        {{ sold.quantity }} units of {{ sold.ticker.symbol }} at {{ sold.price }}$
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        fees: {{ sold.fees }}$
                    </td>
                    <td>
                        change: {{ sold.change }}$
                    </td>
                    <td>
                        {{ sold.date }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="text-align: right;">
                        <strong>Revenue: </strong>
                    </td>
                    <td>
                        <strong>{{ sold.total_revenue }}$</strong>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: right;">
                        <strong>Marginal profit for {{ sold.quantity }} units:</strong>
                    </td>
                    <td >
                        <strong>{{ profit }}$</strong>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</div>