<h4>Profits</h4>
<div class="table-responsive">
    <table class="table" id="table_pages">
        <thead>
            <tr>
                <th scope="col">Symbole</th>
{#                <th scope="col">Trader</th>#}
                <th scope="col">Quantité vendue</th>
                <th scope="col">Prix d'achat (date)</th>
                <th scope="col">Prix de vente (date)</th>
                <th>Profit</th>
            </tr>
        </thead>
        <tbody>
        {% for p in profit_list %}
            <tr >
                <td>
                    <a hx-get="{% url 'wallets:wallets-htmx-api:profit' pk=p.pk%}"
                       hx-target="#form-dialog-lg"
                       aria-label="detail"
                       style="text-decoration: underline;"
                    >{{ p.transaction_bought.ticker.symbol }}</a>
                 </td>
{#                <td style="text-align: center; ">#}
{#                    {% if p.transaction_bought.trading_platform.logo %}#}
{#                        <img alt="Trader logo" src="{{ p.transaction_bought.trading_platform.logo.url }}" height="20">#}
{#                    {% else %}#}
{#                        {{ p.transaction_bought.trading_platform.name }}#}
{#                    {% endif %}#}
{#                </td>#}
                <td>
                    {{ p.transaction_sold.quantity }}
                </td>
                <td>
                    {{ p.transaction_bought.price }}$ ({{ p.transaction_bought.date }} )
                </td>
                <td>
                    <a> {{ p.transaction_sold.price }}$ ({{ p.transaction_sold.date }} )</a>
                </td>
                <td >
                    {{ p.profit }}$
                </td>
            </tr>
        {% endfor %}
        </tbody>
     </table>
</div>
