{% load crispy_forms_tags %}

<div class="row justify-content-md-center">
    <div class="col col-lg-6 default_form">
        <h2>Transfer money</h2>
        <form
              hx-post="{% url 'wallets:wallets_htmx-api:transfer' pk=wallet.id %}"
              hx-trigger="submit"
              hx-target="#wallet_frame"
              id="form">

            {% csrf_token %}
            {{ form|crispy }}
            <a href="{% url 'wallets:wallets' %}" type="button" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Transfer</button>
        </form>
    </div>
</div>