<div class="modal-content">
    <div class="modal-header">
        <h4>Transaction</h4>
    </div>

    <div class="modal-body">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td class="width: 100px;" >
                        {% if transaction.trader.logo %}
                            <img alt="Trader logo" src="{{ transaction.trader.logo.url }}" height="20">
                        {% else %}
                            {{ transaction.trader.name }}
                        {% endif %}
                    </td>
                    <td class="width: 100px;"></td>
                    <td class="width: 100px;"></td>
                    <td class="width: 100px;">
                        {{ transaction.date }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% if transaction.type == 'buy '%}
                            Achat
                        {% else %}
                            Vente
                        {% endif %}
                      <td>
                        {{ transaction.quantity }}
                    </td>
                    <td>
                        {{ transaction.ticker.symbol }}
                    </td>
                    <td>à {{ transaction.price }}$</td>
                </tr>
                <tr>
                    <td>
                        frais: {{ transaction.get_fees }}
                        {% if transaction.fees_type == 'crypto' %}
                            {{ transaction.ticker.symbol }} ({{ transaction.fees_in_dollars }}$)
                        {% else %}
                            $
                        {% endif %}
                    <td>
                        change: {{ transaction.change }}$
                    </td>
                    <td>
                        <strong>Total: </strong>
                        {{ transaction.brut }}$
                    </td>
                    <td></td>
                </tr>
             </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</div>