{% load crispy_forms_tags %}

<form class="modal-content"
      hx-post="{% url 'wallets:wallets-htmx-api:wallet_create' %}"
      hx-trigger="submit"
      id="form">
    
    {% csrf_token %}
    <div class="modal-header">
        <h4>Create a wallet</h4>
    </div>

    <div class="modal-body">
        <div class="form-group mb-0">
            {{ form_wallet|crispy }}
            <br>
             <div class="row">
                <div class="col">
                    <div id="trader-list"
                         hx-trigger="load, traderListChanged from:body"
                         hx-get="{% url 'wallets:wallets-htmx-api:trading-platform-list' %}"
                         hx-target="this">
                    </div>

                    <button
                        hx-get="{% url 'wallets:wallets-htmx-api:trading_platform_create' %}"
                        hx-target="#form-dialog-lg"
                        hx-trigger="click"
                        class="btn btn-primary btn-sm float-end"><i class="bi bi-plus-circle"> trader</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

<div id="internal-htmx-frame" class="container-fluid mt-2"></div>