{#{% if wallet %}#}
{% load static %}
    <div class="row">
        <div class="col col-lg-12">
{#            <h4 style="float: right">balance: <strong>{{ wallet.balance }}$</strong></h4>#}
            <h4 style="float: right">profits: <strong>{{ total_profits }}$</strong></h4>
            <h2 style="display: inline;" >
                {% if wallet.trader.logo %}
                    <a href="{{ wallet.trader.url }}" target="_blank" title="{{ wallet.trader.name }} {{ wallet.trader.url }}">
                        <img alt="" src="{% static wallet.trader.logo %}" height="40">
                    </a>
                {% endif %}

                <a style="display: inline;"
                   hx-get="{% url 'wallets:wallets-htmx-api:wallet_update' pk=wallet.id %}"
                   hx-target="#form-dialog"
                >
                     {{ wallet.name }}
                </a>
            </h2>
        </div>
    </div>
{#    <div class="row">#}
{#        <div class="col col-lg-12">#}
{#            <h4 style="float: right">profits: <strong>{{ total_profits }}$</strong></h4>#}
{#        </div>#}
{#    </div>#}
    <div class="row">
        <div class="col col-lg-12">
            <nav class="walletnavbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
{#                    <li class="nav-item">#}
{#                        <a class="nav-link"#}
{#                           hx-get="{% url 'wallets:wallets_htmx-api:transfer' pk=wallet.id %}"#}
{#                           hx-target="#form-dialog">#}
{#                        Transfer money</a>#}
{#                    </li>#}
                    <li class="nav-item">
                        <a class="nav-link"
                           hx-get="{% url 'wallets:wallets-htmx-api:buy' pk=wallet.id %}"
                           hx-target="#htmx_frame">
                            Acheter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           hx-get="{% url 'wallets:wallets-htmx-api:asset-list' pk=wallet.id %}"
                           hx-indicator="#indicator"
                           hx-target="#htmx_frame">
                            Actifs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           hx-get="{% url 'wallets:wallets-htmx-api:profit-list' pk=wallet.id %}"
                           hx-target="#htmx_frame">
                            Profits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           hx-get="{% url 'wallets:wallets-htmx-api:transaction-list' pk=wallet.id %}"
                           hx-target="#htmx_frame">
                            Historique des transactions</a>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link"#}
{#                           hx-get="{% url 'wallets:wallets-htmx-api:transfer-list' pk=wallet.id %}"#}
{#                           hx-target="#htmx_frame">#}
{#                            Transfer history</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link"#}
{#                           hx-get="{% url 'wallets:wallets-htmx-api:update'%}"#}
{#                           hx-target="#htmx_frame">#}
{#                            Update</a>#}
{#                    </li>#}
                    <li class="nav-item">
                        <a class="nav-link"
                            hx-target="#htmx_frame"
                            hx-swap="innerHTML"
                            hx-get="{{ wallet.book_url }}">
                            Tableau du compte
                        </a>
                    </li>
                    {% if wallet.is_crypto %}
                        <li class="nav-item">
                            <a class="nav-link"
                                hx-target="#htmx_frame"
                                hx-swap="innerHTML"
                                hx-get="{% url 'accounting:crypto-for-taxes' pk=wallet.id %}">
                                Tableau pour impôts
                            </a>
                        </li>
                    {% endif  %}

{#                    <li class="nav-item">#}
{#                        <a class="nav-link"#}
{#                           hx-get="{% url 'wallets:wallets-htmx-api:wallet_update' pk=wallet.id %}"#}
{#                           hx-target="#form-dialog"#}
{#                        >#}
{#                            Edit wallet#}
{#                        </a>#}
{#                    </li>#}
                </ul>
            </nav>
        </div>
    </div>
    <div id="indicator" class="htmx-indicator">
        <div class="d-flex justify-content-center">
            <div class="loader"></div>
{#            <div class="spinner-border" role="status">#}
{#                <span class="visually-hidden">Loading...</span>#}
{#            </div>#}
        </div>
    </div>
    <div id="htmx_frame" class="container-fluid mt-2"
         hx-trigger="load"
          {% if request.session.last_view|dict_key:wallet.id == 'assets' %}
            hx-get="{% url 'wallets:wallets-htmx-api:asset-list' pk=wallet.id %}"
         {% elif request.session.last_view|dict_key:wallet.id  == 'buy' %}
            hx-get="{% url 'wallets:wallets-htmx-api:buy' pk=wallet.id %}"
         {% elif request.session.last_view|dict_key:wallet.id  == 'profits' %}
            hx-get="{% url 'wallets:wallets-htmx-api:profit-list' pk=wallet.id %}"
         {% elif request.session.last_view|dict_key:wallet.id  == 'transactions' %}
            hx-get="{% url 'wallets:wallets-htmx-api:transaction-list' pk=wallet.id %}"
         {% elif request.session.last_view|dict_key:wallet.id  == 'book_disnat' %}
            hx-get="{% url 'accounting:book-disnat' pk=wallet.id %}"
          {% elif request.session.last_view|dict_key:wallet.id  == 'book_crypto' %}
            hx-get="{% url 'accounting:book-crypto' pk=wallet.id %}"
         {% elif request.session.last_view|dict_key:wallet.id  == 'crypto_taxes' %}
            hx-get="{% url 'accounting:crypto-for-taxes' pk=wallet.id %}"
         {% endif %}

{#         {% if wallet.last_view == 'assets' %}#}
{#            hx-get="{% url 'wallets:wallets-htmx-api:asset-list' pk=wallet.id %}"#}
{#         {% elif wallet.last_view  == 'buy' %}#}
{#            hx-get="{% url 'wallets:wallets-htmx-api:buy' pk=wallet.id %}"#}
{#         {% elif wallet.last_view  == 'profits' %}#}
{#            hx-get="{% url 'wallets:wallets-htmx-api:profit-list' pk=wallet.id %}"#}
{#         {% elif wallet.last_view  == 'transactions' %}#}
{#            hx-get="{% url 'wallets:wallets-htmx-api:transaction-list' pk=wallet.id %}"#}
{#         {% elif wallet.last_view  == 'book_disnat' %}#}
{#            hx-get="{% url 'accounting:book-disnat' pk=wallet.id %}"#}
{#          {% elif wallet.last_view  == 'book_crypto' %}#}
{#            hx-get="{% url 'accounting:book-crypto' pk=wallet.id %}"#}
{#         {% elif wallet.last_view  == 'crypto_taxes' %}#}
{#            hx-get="{% url 'accounting:crypto-for-taxes' pk=wallet.id %}"#}
{#         {% endif %}#}
         hx-target="this"
         hx-indicator="#indicator"
         >

{#        {% if asset_list %}#}
{#            {% include 'assets/partials/assets_table.html' %}#}
{#        {% else %}#}
{#            <p>This wallet has no assets</p>#}
{#        {% endif %}#}
    </div>

{#{% else %}#}
{#    <div class="row">#}
{#        <div class="col col-lg-12">#}
{#            <p>Total balance: {{ total_balance }}$</p>#}
{#        </div>#}
{#    </div>#}
{#{% endif %}#}