<div class="row justify-content-md-center">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" data-sortable="true">Name</th>
                    <th scope="col">Trader</th>
                    <th scope="col">Symbol</th>
                    <th scope="col">Purchased</th>
                    <th scope="col">#</th>
                    <th scope="col">Price</th>
                    <th scope="col">Paid</th>
                    <th scope="col">Target</th>
                    <th scope="col">Current price</th>
                    <th scope="col">Current value</th>
                    <th scope="col">Delta</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for a in asset_list %}
                <tr>
                    <td>
                        <a href = "{{ a.get_absolute_url }}">{{ a.ticker.name }}</a>
                     </td>
                    <td >
                        {{ a.trader.name }} {% if a.trader.logo %}<img title="logo" src="{{ a.trader.logo.url }}" height="20"> {% endif %}
                    </td>
                    <td>
                        {{ a.ticker.symbol }}
                    </td>
                    <td>
                        {{ a.date }}
                    </td>
                    <td>
                        {{ a.quantity }}
                    </td>
                    <td>
                        {{ a.price }}
                    </td>
                    <td>
                        {{ a.paid }}
                    </td>
                    <td>
                        {{ a.target }}
                    </td>
                    <td>
                        {{ a.current }}
                    </td>
                    <td >
                        {{ a.value }}
                    </td>
                    <td>
                        <p class="{{ a.delta_alert }}">
                            {{ a.delta }}
                        </p>
                    </td>
                    <td>
                        <a href="{{ a.get_update_url }}" title="edit" >
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a href="{{ a.get_delete_url }}" onclick="return confirm('Are you sure?')" title="delete">
                            <i class="bi bi-x-circle"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
         </table>
    </div>
    <small>
        <i >Last updated: {{ last_updated }}</i>
        ; 
        <i>Next price update at {{ update_at }}</i>
        <button class="btn btn-secondary btn-sm"
            hx-get="{% url 'assets:assets-htmx-api:asset-list' %}"
            hx-target="#assets_table_htmx" title="refresh">
            <i class="bi bi-arrow-clockwise"></i>
        </button>
    </small>

</div>