    <div class="table-responsive">
        <table class="table" id="table_assets">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Trader</th>
                    <th scope="col">Purchased</th>
                    <th scope="col">#</th>
                    <th scope="col">Price</th>
                    <th scope="col">Paid</th>
                    <th scope="col">Target (price)</th>
                    <th scope="col">Current price</th>
                    <th scope="col">Current value</th>
                    <th scope="col">Delta</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for a in asset_list %}
                <tr {% if not a.monitor %} class="not_monitored" {% endif %}>
                    <td title="{{ a.ticker.name }}">
                        <a href = "{{ a.get_absolute_url }}">{{ a.ticker.symbol }}</a>
                    </td>
                    <td style="text-align: center; ">
                        {% if a.trader.url %}
                            <a href="{{ a.trader.url }}" target="_blank" title="{{ a.trader.name }} {{ a.trader.url }}">
                        {% else %}
                            <a href="#" title="{{ a.trader.name }}">
                        {% endif %}
                        {% if a.trader.logo %}
                            <img alt="Trader logo" src="{{ a.trader.logo.url }}" height="20"> 
                        {% else %}
                            {{ a.trader.name }} 
                        {% endif %}
                        </a> 
                    </td>
                    <td>
                        {{ a.date }}
                    </td>
                    <td>
                        {{ a.quantity }}
                    </td>
                    <td>
                        {{ a.price }}
                    </td>
                    <td>
                        {{ a.paid }}
                    </td>
                    <td>
                        {{ a.target }} ({{ a.target_price }})
                    </td>
                    <td>
                        {{ a.current }}
                    </td>
                    <td >
                        {{ a.value }}
                    </td>
                    <td>
                        <p class="{{ a.delta_alert }}">
                            {{ a.delta }}
                        </p>
                    </td>
                    <td>
                        {% if wallet %}
                            <a title="sell" 
                               hx-get="{% url 'wallets:wallets-htmx-api:sell' pk=a.id %}"
                               hx-target="#wallet_frame">
                                <i class="bi bi-cash-coin"></i>
                            </a>
                        {% endif %}
                        <a href="{{ a.get_update_url }}" title="edit" >
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a href="{{ a.get_delete_url }}" onclick="return confirm('Are you sure?')" title="delete">
                            <i class="bi bi-x-circle"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
         </table>
    </div>

