<h4>Assets</h4>    
<div class="table-responsive">
        <table class="table" id="table_list2">
{#            <thead>#}
{#                <tr>#}
{#                    <th scope="col">Symbol</th>#}
{#                    <th scope="col">Trader</th>#}
{#                    <th scope="col">Purchased</th>#}
{#                    <th scope="col">#</th>#}
{#                    <th scope="col">Price</th>#}
{#                    <th scope="col">Paid</th>#}
{#                    <th scope="col">Target (price)</th>#}
{#                    <th scope="col">Current price</th>#}
{#                    <th scope="col">Current value</th>#}
{#                    <th scope="col">Delta</th>#}
{#                    <th scope="col"></th>#}
{#                </tr>#}
{#            </thead>#}
        {#            <thead>#}
            <tbody>
            {% for a in asset_list %}
                <tr {% if a.staking %} class="staking" {% elif not a.monitor %} class="not_monitored" {% endif %} style="border-top: 2px solid black;">
                    <td title="{{ a.ticker.name }}">
                        

                        {% if a.trader.url %}
                            <a href="{{ a.trader.url }}" target="_blank" title="{{ a.trader.name }} {{ a.trader.url }}">
                        {% else %}
                            <a href="#" title="{{ a.trader.name }}">
                        {% endif %}
                        {% if a.trader.logo %}
                            <img alt="Trader logo" src="{{ a.trader.logo.url }}" height="20"> 
                        {% else %}
                            {{ a.trader.name }} 
                        {% endif %}
                        </a> 
                        <a href = "{{ a.ticker.get_absolute_url }}" {% if a.ticker.type == "equity"  %}target="_blank"{% endif %}>{{ a.ticker.symbol }}</a>
                    </td>
                    <td style="text-align:right">
                        Price: {{ a.price }}$
                    </td>
                    <td style="text-align:right">
                        Total paid: {{ a.paid }}$
                    </td>                
                    <td style="text-align:right">
                        Qty: {{ a.quantity }}
                    </td>
                    <td style="text-align:right">
                        {{ a.date }}
                    </td>
                </tr>
                <tr {% if a.staking %} class="staking" {% elif not a.monitor %} class="not_monitored" {% endif %} style="border-bottom: 2px solid black;">
                    <td>
                        Target (total - price) {{ a.target }}$ - {{ a.target_price }}$
                    </td>                
                    <td style="text-align:right">
                        Current price: {{ a.current }}$
                    </td>
                    <td style="text-align:right">
                        Current value: {{ a.value }}$
                    </td >
                    <td style="text-align:right">
                        <p class="{{ a.delta_alert }}">
                            Delta: {{ a.delta }}
                        </p>
                    </td>
                    <td style="text-align:right">
                        {% if wallet %}
                            <a title="sell"
                               hx-get="{% url 'wallets:wallets-htmx-api:sell' pk=a.id %}"
                               hx-target="#htmx_frame">
                                <i class="bi bi-bank"></i>
                            </a>
                        {% endif %}
                        <a href="{{ a.get_absolute_url }}" title="edit" class="ms-2">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a href="{{ a.get_delete_url }}" onclick="return confirm('Are you sure?')" title="delete" class="ms-2">
                            <i class="bi bi-x-circle"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
         </table>
    </div>
    <small  style="display: inline" >
        <i >Last updated: {{ last_updated }}</i>
        ; 
        <i>Next price update at {{ update_at }}</i>
        <button class="btn btn-success btn-sm"
                {% if wallet %}
                    hx-get="{% url 'wallets:wallets-htmx-api:asset-list' pk=wallet.id %}"
                {% else %}
                    hx-get="{% url 'assets:assets-htmx-api:asset-list' %}"
                {% endif %}
            hx-target="#htmx_frame" title="refresh">
            refresh now <i class="bi bi-arrow-clockwise"></i>
        </button>
    </small>
    <ul class="legend" style="display: inline; float: right;" >
        <li><span class="not_monitored"></span> Not monitored</li>
        <li><span class="staking"></span> Staking</li>
    </ul>