{% load crispy_forms_tags %}

{#<form method="post" class="modal-content">#}
<form class="modal-content"
      hx-post="{% url 'assets:assets-htmx-api:ticker_create' %}"
      hx-trigger="submit"
      hx-encoding="multipart/form-data"
      id="form">    
    
    {% csrf_token %}
        <div class="modal-header">
            <h4>Add a ticker</h4>
        </div>

        <div class="modal-body">
            <div class="form-group mb-0">
                <div id="div_id_url" class="mb-3">
                    <div>{{ form_ticker|crispy }}</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary"> add</button>
{#            <button#}
{#                hx-post="{% url 'assets:assets-htmx-api:ticker_create' %}"#}
{#                class="btn btn-primary">#}
{#                add#}
{#            </button>#}
        </div>
</form>
