{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-md-center">&nbsp;</div>
    <div class="row justify-content-md-center">
        <div class="col-4 login_form">
            <h2>Welcome to LGSGS</h2>
            {% if not request.user.is_authenticated %}
                <form method='POST'>{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary"> Créer </button>
                </form>
                <br>
                <p>Vous avez déjà un compte? SVP <a href='{% url "accounts:login" %}'>Log in</a></p>
            {% else %}
                <p>Vous êtes déjà logged in et ne pouvez pas créer de compte. Voulez-vous <a href='{% url "accounts:logout" %}'>log out</a>?</p>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-md-center">&nbsp;</div>
{% endblock %}
