<div id="form-div">
    <form
          hx-post="{% url 'accounting:book-crypto' pk=wallet.id %}"
          hx-trigger="submit"
          hx-target="#form-div"
          id="form"
          >
        {% csrf_token %}
        <h4>Tableau du compte</h4>
        {% include 'messages_display.html' %}
        {% if book %}
            <small>* Noter que les frais sont tous en $</small>
            {% include 'accounting/partials/book-table.html' %}
            {{ csvfilename|json_script:"csvfilename" }}
        {% else %}
            <p>Rien dans la banque de données.</p>
        {% endif %}
    </form>
    {% include 'accounting/partials/file-input.html' %}
</div>