<div id="form-div">
    <form
          hx-post="{% url 'accounting:crypto-for-taxes' pk=wallet.id %}"
          hx-trigger="submit"
          hx-target="#form-div"
          id="form"
          >
        {% csrf_token %}
        <h4>Tableau pour impôts</h4>
        {% include 'messages_display.html' %}
        {% if book %}
            <small>* Noter que les frais sont tous en $</small>
            {% include 'accounting/partials/select-dates.html' %}
            <div class="row mb-4" style="border-style: solid; border-width: 1px; border-radius: 10px; padding: 10px;">
                <div class="col col-md-12">
                    <p style="float: right">profits nets: <strong>{{ net_profits }}$</strong></p>
                    <h5 style="display: inline-block; vertical-align:middle" >Transactions</h5>
                    <button style="display: inline-block; vertical-align:middle" type="submit" name="task" value='export'
                            class="btn btn-sm btn-primary">Sauver en csv</button>
                    <div class="table-responsive mt-3">
                         {{ book|safe }}
                    </div>
                </div>
            </div>
        {% else %}
            <p>Rien dans la banque de données.</p>
        {% endif %}
    </form>
    {% include 'accounting/partials/file-input.html' %}
</div>
