{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}-{{ title }}{% endblock %}

{% block content %}
    <div class="row justify-content-md-center mt-4">
    {% include 'messages_display.html' %}
        <div class="col col-lg-5 login_form">
            
            <h3>Modifier votre profil:</h3>
            <form method="post" action=".">
                {% csrf_token %}
                {{ form|crispy}}
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-md-center">&nbsp;</div>
{% endblock content %}
